<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/style.css">
  </head>
  <body onclick="checkNav()">
    <div id="sidebar" class="sidebar">
      <!-- <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a> -->
      <a href="#" onclick="openNav()">Option</a>
    </div>
    <div id="mySidebar" class="sidebar center old">
      <form name="form" action="/" method="POST">
        <select onchange="submit()" name="select">
          <option selected disabled value="DropDown">Dropdown</option>
          <option value="A">A</option>
          <option value="B">B</option>
        </select>
      </form>
    </div>
    <div id="main" onclick="closeNav()">
      <div class="page1">
        <% for(var x=0;x<data.length/2;x++){ %> 
        <div class="card">
          <div class="container">
            <h4><b><%= data[x] %></b></h4>
          </div>
        </div>
        <% } %> 
      </div>
      <div class="page2 hide">
        <% for(var x=data.length/2;x<data.length;x++){ %> 
        <div class="card">
          <div class="container">
            <h4><b><%= data[x] %></b></h4>
          </div>
        </div>
        <% } %> 
      </div>
      <div class="page">
      </div>
    </div>
    <script src="js/index.js"></script>
  </body>
</html>