body {
	font-family: "Lato", sans-serif;
}

.sidebar {
	height: 100%;
	width: 25%;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #eeeeee;
	overflow-x: hidden;
	transition: 0.5s;
	padding-top: 60px;
}

.sidebar a {
	padding: 8px;
	text-align: center;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
	transition: 0.3s;
}

.sidebar a:hover {
	color: #645f5f;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.openbtn {
	font-size: 20px;
	cursor: pointer;
	background-color: #111;
	color: white;
	padding: 10px 15px;
	border: none;
}

.openbtn:hover {
	background-color: #444;
}

#main {
	transition: margin-left 1s;
	padding: 16px;
	margin-left: 25%;
	height: 100vh;
	position: relative;
}

.old {
	width: 0;
	transition: 0.8s linear;
	animation: slideClose 1s ease-out;
	opacity: 0;
}

.new {
	background-color: rgb(197, 191, 191);
	display: block;
	left: 25%;
	transition: 0.4s linear;
	animation: slide .4s ease-in;
	width: 15%;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	width: 100%;
	margin-top: 20px;
}

.card:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container {
	padding: 5% 10%;
}

.arrow {
	border: solid black;
	border-width: 0 5px 5px 0;
	display: inline-block;
	padding: 5px;
	cursor: pointer;
}

.right {
	margin-left: 20px;
	transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
}

.left {
	margin-right: 20px;
	transform: rotate(135deg);
	-webkit-transform: rotate(135deg);
}

.page {
	position: absolute;
	bottom: 10%;
	left: 50%;
	transform: translate(-50%, -50%);
}

@-webkit-keyframes slide {
	0% {
		opacity: 0;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 15%;
	}
}

@keyframes slide {
	0% {
		opacity: 0;
		width: 0;
	}
	100% {
		opacity: 1;
		width: 15%;
	}
}

@-webkit-keyframes slideClose {
	0% {
		opacity: 1;
		width: 15%;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}

@keyframes slideClose {
	0% {
		opacity: 1;
		width: 15%;
	}
	100% {
		opacity: 0;
		width: 0;
	}
}

.center {
	text-align: center;
}

.hide {
	display: none;
}

.fade {
	border: solid #00000052;
	border-width: 0 5px 5px 0;
	cursor: default;
}
#sidebar{
	z-index: 2;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */

@media screen and (max-height: 650px) {
	.sidebar {
		padding-top: 15px;
	}
	.sidebar a {
		font-size: 18px;
	}
}
